extends ../../node_modules/pug-bootstrap/layouts/navbar-fixed

append styles	
    link(rel="stylesheet",href="https://bootswatch.com/flatly/bootstrap.min.css")
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/navbar-fixed-top.css', rel='stylesheet')
      
block body
  +navbar-fixed(title,"navbar","default", "/")
    ul(class="nav navbar-nav", id="menu-sensor") 
  .container
    .masthead
      h3.text-muted Estación Local - #{location}
    div(class="panel panel-default")
      div.panel-heading
        h3.panel-title Análisis de datos de sensores
      div.panel-body  
        div(id="charts", class="row")
      
    // Site footer
    footer.footer
      p © github.com/raalzate 2016, Trabajo de Tesis para la <a href="https://www.unad.edu.co/">Universidad Nacional Abierta y a Distancia (UNAD) </a>, Programa de Ingeniería en Electrónica

append scripts
    script(src='/js/libs/fusioncharts.js')
    script(src='/js/libs/fusioncharts.theme.fint.js?cacheBust=56')
    script(src='/js/libs/loader.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/attributes.js')
    script(src='/js/widgets/thermometer.js')
    script(src='/js/widgets/humidity.js')
    script(src='/js/widgets/quality.js')
    script(src='/js/widgets/vane.js')
    script(src='/js/widgets/default.js')
    script(src='/js/charts.js')