extends ../../node_modules/pug-bootstrap/layouts/navbar-fixed

append styles	
    link(rel="stylesheet",href="https://bootswatch.com/flatly/bootstrap.min.css")
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/navbar-fixed-top.css', rel='stylesheet')

block body
  +navbar-fixed(title,"navbar","default", "/")
    ul(class="nav navbar-nav", id="menu-sensor") 
  .container
    .masthead
      h3.text-muted Consola #{subtitule}
    div(id="content-console", class="row")
      
    // Site footer
    footer.footer
      p © github.com/raalzate 2016, Trabajo de Tesis para la <a href="https://www.unad.edu.co/">Universidad Nacional Abierta y a Distancia (UNAD) </a>, Programa de Ingeniería en Electrónica

append scripts
    script(src='/socket.io/socket.io.js')
    script(src='/js/console.js')
