extends ../node_modules/jade-bootstrap/_bootstrap

append styles	
    link(href='/css/style.css', rel='stylesheet')

block body
    div.container
      h1.center  Sistema IoT Ambiental
      div.center(id="chartGauge_div")
      div(id="chartLineCore_div")

append scripts
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src='/socket.io/socket.io.js')
    script(src='/js/charts.js')
