extends ../node_modules/jade-bootstrap/layouts/cover

append styles	
    link(href='/css/style.css', rel='stylesheet')

block body
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand Sistema IoT Ambiental - Proyecto de Grado
        .inner.cover
          h1.cover-heading Sensores Ambientales
          div(id="chartGauge_div")
          div(id="chartLineCore_div")
        .mastfoot
          .inner
            p Trabajo de Tesis para la <a href="https://www.unad.edu.co/">Universidad Nacional Abierta y a Distancia (UNAD) </a>, Programa de Ingeniería en Electrónica, 2016.

append scripts
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src='/socket.io/socket.io.js')
    script(src='/js/charts.js')
