html
    head
        title= "Chart - Home Environmental"
        script(src='https://www.gstatic.com/charts/loader.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/charts.js')
    body
        #chartGauge_div
        #chartLineCore_div