extends ../node_modules/jade-bootstrap/layouts/cover

append styles	
    link(href='/css/style.css', rel='stylesheet')
    link(href="../css/cover.css", rel="stylesheet")


block body
	.site-wrapper
		.site-wrapper-inner
			.inner.cover
				.masthead.clearfix
				    div.container
				      h1.center  Sistema IoT Ambiental
				      div.center(id="chartGauge_div")
				      div(id="chartLineCore_div")

append scripts
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src='/socket.io/socket.io.js')
    script(src='/js/charts.js')
