extends ../node_modules/jade-bootstrap/layouts/justified-nav

append styles	
    link(href='/css/style.css', rel='stylesheet')

block body
  .container
    .masthead
      h3.text-muted Sistema IoT Ambiental - Proyecto de Grado
    .jumbotron
      h1 Home de Raul .A Alzate
      div(class="panel panel-default")
        div.panel-heading
          h3.panel-title Análisis de datos de sensores
        div.panel-body  
          div(id="charts", class="row")
      
    // Site footer
    footer.footer
      p © github.com/raalzate 2016, Trabajo de Tesis para la <a href="https://www.unad.edu.co/">Universidad Nacional Abierta y a Distancia (UNAD) </a>, Programa de Ingeniería en Electrónica

append scripts
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src='/socket.io/socket.io.js')
    script(src='/js/charts.js')
